body {
    line-height: 1;
    background: #111 !important;
    color: #ddd;
}

.intro {
    background-image: url("intro_bkg.jpg");
}

.nav-bar {
    display: flex;
    flex-basis: auto;
    background: #000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.7;
    padding-top: 30px;
    padding-bottom: 10px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto !important;
    row-gap: 200px;
    list-style: none;
}

.nav-item {
    font-size: 24px;
    font-family: Consolas;
    font-weight: bold;
    line-height: 20px;
    margin-right: 80px;
}

.nav-link {
    color: #fff !important;
    text-decoration: none;
}

.languages {
    color: #2cf;
}

.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 6%;
}

.title {
    font-family: Tahoma;
}

.name {
    font-size: 90px;
}

.role {
    font-size: 40px;
}

.contact-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
