body {
    display: block;
    line-height: 1;
    background: #222 !important;
    color: #ddd;
}

.subheading {
    font-family: Caveat;
    font-size: 35px;
    color: #fda;
    text-align: center;
}

/* When click nav-bar links, keeps some space from top */
#about, #projects, #contact {
    padding-top: 100px;
    margin-top: -100px;
}

img{
    width: 100%;
    height: auto;
}

.nav-bar {
    display: flex;
    flex-basis: auto;
    background: #000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.7;
    padding-top: 30px;
    padding-bottom: 10px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto !important;
    row-gap: 200px;
    list-style: none;
}

.nav-item {
    font-size: 24px;
    font-family: Consolas;
    font-weight: bold;
    line-height: 20px;
    margin-right: 80px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    color: #2aa;
}

.languages {
    color: #2cf;
}

.intro {
    height: 600px;
    max-width: 2000px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 7%;
    background-image: url("background2.jpg");
    background-size: 100% 100%;
}

.title {
    margin-top: 7rem;
    font-family: "Alfa Slab One";
}

.name {
    font-size: 90px;
    text-shadow: 3px 3px 3px #003;
}

.role {
    font-size: 24px;
}

.about {
    margin-left: 20%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    max-width: 60%;
}

.about_item {
    padding-right: 40px;
    Padding-bottom: 40px;
    overflow: hidden;
}

.contact-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
