body {
    display: block;
    line-height: 1;
    background: #222 !important;
    color: #ddd;
}

.subheading {
    font-family: Caveat;
    font-size: 35px;
    color: #fda;
    text-align: center;
}

/* When click nav-bar links, keeps some space from top */
#about, #projects, #contact {
    padding-top: 100px;
    margin-top: -100px;
}

img{
    width: 100%;
    height: auto;
}

.nav-bar {
    display: flex;
    flex-basis: auto;
    background: #000;
    position: fixed !important;
    top: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.7;
    padding-top: 30px;
    padding-bottom: 10px;
    z-index: 1;
}

.nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto !important;
    row-gap: 200px;
    list-style: none;
}

.nav-item {
    font-size: 24px;
    font-family: Consolas;
    font-weight: bold;
    line-height: 20px;
    margin-right: 80px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    color: #2aa;
}

.languages {
    color: #fc2;
}

.intro {
    height: 600px;
    max-width: 2000px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 7%;
    background-image: url("background2.jpg");
    background-size: 100% 100%;
}

.title {
    margin-top: 7rem;
    font-family: "Alfa Slab One";
}

.name {
    font-size: 90px;
    text-shadow: 3px 3px 3px #003;
}

.role {
    font-size: 24px;
}

.about {
    margin-left: 20%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    position: relative;
}

.about_item {
    padding-right: 40px;
    padding-bottom: 40px;
    font-size: 18px;
    line-height: 1.3;
    position: relative;
}

.about_img:after {
    content:'';
    width: 3px;
    height: 50%;
    background: #1fa;
    position: absolute;
    top: -15px;
    left: -15px;
}

.about_img:before {
    content:'';
    width: 70%;
    height: 3px;
    background: #1fa;
    position: absolute;
    top: -15px;
    left: -15px;
}

.about_description:after {
    content:'';
    width: 3px;
    height: 50%;
    background: #1fa;
    position: absolute;
    bottom: -15px;
    right: -15px;
}

.about_description:before {
    content:'';
    width: 70%;
    height: 3px;
    background: #1fa;
    position: absolute;
    bottom: -15px;
    right: -15px;
}

.projects {
    margin-right: 7em;
    margin-left: 7em;
    margin-bottom: 7em;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.project_items {
    padding-right: 10px;
    padding-left: 15px;
    border: 2px solid;
    border-radius: 25px;
    width: 25%
}

.project_items:hover {
    background-color: #333537;
    color: #eee;
}

.project_logo {
    max-height: 50px;
    width: auto;
    margin-left: 80%;
    margin-top: 5%;
}

.ios {
    border-color: #0af;
    box-shadow: 3px 3px 10px #0af;
    background-color: #151515
}

.web {
    border-color: #0fa;
    box-shadow: 3px 3px 10px #0fa;
    background-color: #151515
}

.cpp {
    border-color: #fa0;
    box-shadow: 3px 3px 10px #fa0;
    background-color: #151515
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

.contact-list-item {
    display: flex;
    Justify-content: center;
    align-items: center;
    gap: 2px;
}

.contact-img {
    max-width: 30px;
    height: auto;
}
